.body {
  padding: 2rem 2rem;
  min-height: 100vh;
}

.app-light {
  background-color: white;
}

.app-dark {
  background-color: black;
  color: white;
}

@media (min-width: 600px) {
  .body {
    margin: 2rem 6rem;
  }
}
