.body {
  padding: 2rem 2rem;
  min-height: 100vh;
}

.app-light {
  background-color: white;
}

.app-dark {
  background-color: #1c2022;
  color: white;
}

@media (min-width: 600px) {
  .body {
    padding: 4rem 12rem;
  }
}
